body {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: #94d2bd;
}
#container {
  /* position: relative; */
  text-align: center;
  background-color: #f8edeb;
  margin-top: 50px;
  border-radius: 28px;
  height: 500px;
  width: 25%;
}
h2 {
  /* position: absolute; */
  transform: translateY(-30px);
  background-color: #9b2226;
  color: white;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  height: 70px;
  line-height: 70px;
}
/* intput tong tien */
#billamt,
#peopleamt {
  height: 30px;
  outline: none;
  border: 2px solid gray;
  font-size: 20px;
}
#serviceQual {
  height: 38px;
  width: 70%;
  text-align: center;
  font-size: 17px;
}
#peopleamt {
  width: 48%;
}
#calculate {
  display: block;
  background-color: #6a040f;
  margin: 30px auto;
  width: 40%;
  height: 46px;
  font-size: 17px;
  color: white;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: all 0.5s;
}
#calculate:hover {
  background-color: #01497c;
}
span {
  font-size: 25px;
}
.question {
  margin-top: 30px;
}
